.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    z-index: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: all var(--transition-speed);
    font-weight: 500;
    position: relative;
}

.nav-links a:hover {
    color: black;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: width var(--transition-speed);
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    transform: translateY(-2px);
}
